.container {
    margin: auto;
    height: 600px;
    width: 600px;
}

.inner-container {
    margin: auto;
    height: 100%;
    width: 100%;
}

.outer-virus {
    height: 300px;
    width: 300px;
    background-size: 20%;
    position: absolute;
    animation:
        body 0.98s infinite linear;
    animation-direction: alternate;
    padding-top: 7.4%;
    padding-left: 8.5%;
    animation-timing-function: ease-in-out;

}

.virus {
    background-image: url(body.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 328px;
    width: 328px;
    position: absolute;
}

@keyframes body {
    from {
        transform: rotate(3deg);
    }

    to {
        transform: rotate(0deg);
    }

}

@keyframes thrones-rotate {
    from {
        transform: rotate(-3deg);
    }

    to {
        transform: rotate(0deg);
    }
}

@keyframes thrones-hop {
    from {
        top: 0px;
    }

    to {
        top: 40px;
    }
}

.throne {
    height: 400px;
    width: 50px;
    padding-left: 20%;

}

.thrones {
    background-image: url(thrones.png);
    height: 390px;
    width: 390px;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    padding-left: -10%;
    animation:
        thrones-rotate 0.98s infinite linear,
        thrones-hop 0.98s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.face {
    height: 500px;
    width: 500px;
    position: relative;
    margin-top: -50%;
    margin-left: -50%;
}

.eyewhite {
    height: 300px;
    width: 500px;
    background-image: url(eyewhite.png);
    background-repeat: no-repeat;
    background-size: 30%;
    position: absolute;
    margin-top: 310px;
    left: 52%;
}


.eyeball {
    height: 300px;
    width: 500px;
    background-image: url(eyeball.png);
    background-repeat: no-repeat;
    background-size: 23%;
    position: absolute;
    margin-top: 3px;
    margin-left: 13px;
    animation:
        eyeball 3s infinite alternate;

    animation-timing-function: ease-in-out;



}

@keyframes eyeball {
    from {
        left: -5px;
    }

    to {
        left: 10px;
    }
}

.eyebrows {
    width: 500px;
    height: 400px;
    background-image: url(eyebrows.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: 45%;
    margin-top: -6%;
    margin-left: -9%;

}

.mouth {
    height: 250px;
    width: 250px;
    background-image: url(mouth.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: 44%;
    margin-top: 17%;
    margin-left: -2%;
    transform: rotate(8deg);
    animation:
        mouth-rotate 1.96s infinite alternate,
        mouth-dir 1.96s infinite alternate;
    animation-timing-function: ease-in-out;
}

@keyframes mouth-rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(10deg);
    }
}

@keyframes mouth-dir {
    from {
        left: 3%;
    }

    to {
        left: -5%;
    }
}